@import 'base/variables';
@import 'base/mixins';
* {
    font-family: 'Morganite', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/services';
@import 'blocks/balls';
@import 'blocks/our-studio';

@import 'blocks/media';