.pink-ball {
    z-index: 1;
    position: absolute;
    right: 55px;
    top: 220px;
}
.transparent-ball {
    position: absolute;
    opacity: .2;
    bottom: -210px;
}
.semicircle-ball {
    position: absolute;
    right: 25%;
    transform: translateX(-25%);
    bottom: -100px;
}
.circle-ball {
    position: absolute;
    left: 5px;
    bottom: -35%;
}