.header {
    position: relative;
    display: flex;
    &__list {
        width: 70%;
        padding: 34px 0 0 130px;
        display: flex;
        justify-content: space-between;
        margin: 0; 
    }
    &__item {
        list-style-type: none;
    }
    &__link {
        text-decoration: none;
        color: #fff;
        font-weight: 400;
        font-size: 33px;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: color .1s linear;
        &:hover {
            color: $second-color;
        }
    }
}
