@media (max-width: 1400px) {
    // Header 
    .header {
        &__logo {
            margin-left: 25px;
        }
    }

    // Promo
    .promo__descr {
        right: -15px;
        margin-right: 25px;
    }

    // Services
    .services__benefits {
        padding: 95px 20px 0 20px;
        padding-top: 50px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .services__item {
        margin: 30px;
        justify-content: center;
    }

    // Our-studio 
    .our-studio__item {
        margin-left: 20px;
    }

    // Classes
    .classes__inner {
        padding: 95px 0 80px 40px;
    }
    .classes__title {
        font-size: 40px;
    }
    .classes__descr {
        font-size: 30px;
        letter-spacing: normal;
    }
}

@media (max-width: 1103px) {
    // Classes
    // Title
    .title {
        font-size: 75px;
        padding: 130px 20px 0 20px;
    }
    .subtitle {
        font-size: 35px;
        padding: 50px 20px 0 20px;
    }

    .classes__img {
        display: none;
    }
    .classes__inner {
        width: 100%;
        padding: 95px 40px 80px 40px;;
    }
    .classes__title, .classes__descr {
        text-align: center;
    }
    .button_trial {
        display: block;
        margin: 0 auto;
        margin-top: 75px;
    }
}

@media (max-width: 902px) {
    // Header 
    .header {
        &__list {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    // Promo
    .promo__title {
        margin-right: 10px;
        z-index: 1000;
    }
    .promo__descr {
        display: none;
    }

    // Button
    .button {
        &-more {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}


@media (max-width: 576px) {
    // Promo
    .promo {
        padding-top: 30px;
        &__wrapper {
            padding-top: 60px;
        }
        &__title {
            font-size: 130px;
        }
    }
    
     // Balls 
    .pink-ball {
        opacity: .4;
    }

    // Our-studio
    .our-studio__item {
        text-align: center;
    }

    // Title 
    .title_left {
        text-align: center;
    }

    // Our-studio /ball
    .our-studio__ball {
        display: none;
    }
    // Classes 
    .classes__item {
        padding-top: 70px;
        
    }
    .classes__descr {
        padding-top: 20px; 
    }
    .button_trial {
        margin-top: 40px; 
    }

    // Teachers
    .teachers__descr {
        padding: 30px 0 50px 0;
        text-align: center;
    }
}

@media (max-width: 322px) {
    .promo__wrapper {
        padding-top: 10px;
    }
}
