.services {
    min-height: 794px;
    background-color: $second-color;
    &__benefits {
        padding-top: 95px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 275px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            height: 96px;
        }
    }
    &__title {
        padding-top: 65px;
        font-size: 50px;
        color: $first-color;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
    }
    &__descr {
        font-size: 34px;
        color: #fff;
        text-align: center;
        font-weight: 500;
        line-height: 39.58px;
    }
}