.teachers {
    background-color: $first-color;
    &__item {
        background: url(../img/teacher1.jpg) center center / cover no-repeat;
        padding-top: 100px;
        &_lower {
            background: url(../img/teacher2.jpg) center center / cover no-repeat;
        }
    }
    &__descr {
        padding-left: 50px;
        padding-bottom: 50px;
        &_lower {
            text-align: right;
            padding-right: 50px;
        }
    }
    &__name {
        font-size: 58px;
        color: #fff;
        font-weight: 900;
        line-height: 41.67px;
        text-transform: uppercase;
    }
    &__speciality {
        padding-top: 10px;
        font-size: 33px;
        color: $second-color;
        font-weight: 400;
        line-height: 41.67px ;
        text-transform: uppercase;
    }
    &__text {
        padding-top: 25px;
        font-size: 33px;
        line-height: 39px;
        color: #fff;
        font-weight: 400;
    }
}