.title {
    padding-top: 130px;
    font-size: 105px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    &__purple {
        color: $first-color;
    }
    &__pink {
        color: $second-color;
    }
    &_left {
        text-align: left;
    }
}
.subtitle {
    padding-top: 50px;
    color: #fff;
    font-size: 46px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}